<!DOCTYPE html>
<html>
  <head>
    <title>Devon</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="App.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="banner">
        Devon
    </div>

    <div class="row">

        <div id='view' class=column></div>
        <div id="items">
           <p>Midpoint Destination</p>
           <p>Midpoint Destination</p>
        </div>
    </div>

    <script src="javascript/run_devon.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT4CSa9LNsD6ae3M81SZRcUOt3OZ9bJGA&callback=initMap"
    async defer></script>
  </body>
</html>